 <fieldset style="width:80%; table-layout: fixed; margin-left: auto; margin-right: auto">
    <p style="font-size:160%;"><b>{{post.title}}</b></p>
    <p style="font-size:80%;">
        <i><a href="/profile?username={{post.author}}">{{post.author}}</a></i>
    </p>
    <p> {{post.content}} </p>
    <table style="font-size: small;">
        <tr>
            <td> {{post.date}} </td>
            <td>
                {% if user_like %}
                    {% set like_id = "unlike_" + user.id | string + "_" + post.id | string %}
                {% else %}
                    {% set like_id = "like_" + user.id | string  + "_" + post.id |string %}
                {%  endif %}
                <span class="like_count" id="{{ post.id }}">{{ likes }}</span> likes
                {% if user.is_authenticated() %}
                    {% set href_val = "/like_post?like_id=" + like_id | string %}
                    <a href="{{ href_val }}">
                        <span id="{{ like_id }}" class="post-like">
                            {% if user_like %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </span>
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>
</fieldset>
<br>