<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login via cookies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>
<div class="topnav">
    <table style="border: 0; width: 100%">
        <tr>
            {% if user.is_authenticated() %}
            <td colspan="5"><h1 style="text-align:left;"> Manual login-logout: learning cookies</h1></td>
            {% else %}
            <td colspan="4"><h1 style="text-align:left;"> Manual login-logout: learning cookies</h1></td>
            {% endif %}
            <td colspan="2" style="text-align: right; width: 80px"> Search form </td>
        </tr>
        <td>
            <td style="width: 15%"><a href="/welcome"> Welcome </a></td>
            <td style="width: 15%"><a href="/blogpost_recent"> News feed </a></td>
            <td style="width: 15%"><a href="/hello_world">Hello world (for registered users only)</a></td>
            {% if user.is_authenticated() %}
                <td style="width: 15%"><a href="/blogpost_edit"> Create new post</a></td>
                <td style="width: 20%"></td>
                <td style="width: 10%"><a href="/account"> {{user.first_name}} account </a></td>
                <td style="width: 10%"><a href="/logout">Logout</a></td>
            {% else %}
                <td style="width: 35%"></td>
                <td style="width: 10%"><a href="/login">Login</a></td>
                <td style="width: 10%"><a href="/registration">Registration</a></td>
            {% endif %}
        </tr>
    </table>
</div>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="background-color: beige;">
        <ul class=flashes>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% endwith %}
    {% block form %}
    {% endblock %}
</div>
</body>
</html>