{% extends 'base.html' %}

{% block form %}
    <h1> Create/edit the blogpost </h1>
    <fieldset>
    <form action="/blogpost/create" method="POST">
        {{ blogform.csrf }}
        <table>
            <col align="right">
            <col align="left">
            <tr>
                <td width="15%">{{ blogform.title.label }}</td>
                <td>{{ blogform.title(class="css_class", size=70) }}</td>
            </tr>
            <tr>
                <td>{{ blogform.content.label }}</td>
                <td>{{ blogform.content(class="css_class") }}</td>
            </tr>
        </table>
        <p style="text-align: center;"><input type="submit" name="submit" value="Create new post">
        {% if blogform.id %}
            <input type="submit" name="submit" value="Update">
        {% endif %}
        </p>
    </form>

    </fieldset>
{% endblock %}