<form style="margin: auto" action="/update_user" method="POST">
    {{ form.csrf }}
    <table style="width:50%; border: 0; table-layout: fixed; margin-left: auto; margin-right: auto">
        <col align="right">
        <col align="left">
        <tr>
            <td style="width: 30%"> {{ form.username.label }}* </td>
            <td> {{ form.username(class="css_class", disabled=True) }}
            </td>
        </tr>
    <tr>
            <td>{{ form.cur_password.label }}*</td>
            <td>{{ form.cur_password(class="css_class") }}
                {% if 'current_password' in form_error %}
                    <span style="color:tomato; font-size:80%">
                        {% for entry in form_error['cur_password'] %}
                            {{entry}}{{", " if not loop.last}}
                        {% endfor %}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ form.password.label }}</td>
            <td>{{ form.password(class="css_class") }}
                {% if 'password' in form_error %}
                    <span style="color:tomato; font-size:80%">
                        {% for entry in form_error['password'] %}
                            {{entry}}{{", " if not loop.last}}
                        {% endfor %}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ form.confirm.label }}</td>
            <td>{{ form.confirm(class="css_class") }}
                {% if 'confirm' in form_error %}
                    <span style="color:tomato; font-size:80%">
                        {% for entry in form_error['confirm'] %}
                            {{entry}}{{", " if not loop.last}}
                        {% endfor %}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ form.first_name.label }}*</td>
            <td>{{ form.first_name(class="css_class") }}
                {% if 'first_name' in form_error %}
                    <span style="color:tomato; font-size:80%">
                        {% for entry in form_error['first_name'] %}
                            {{entry}}{{", " if not loop.last}}
                        {% endfor %}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ form.dob.label }}</td>
            <td>{{ form.dob(class="css_class") }}
                {% if 'dob' in form_error %}
                    <span style="color:tomato; font-size:80%">
                        {% for entry in form_error['dob'] %}
                            {{entry}}{{", " if not loop.last}}
                        {% endfor %}
                    </span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ form.email.label }}*</td>
            <td>{{ form.email(class="css_class") }}
                {% if 'email' in form_error %}
                    <span style="color:tomato; font-size:80%">
                        {% for entry in form_error['email'] %}
                            {{entry}}{{", " if not loop.last}}
                        {% endfor %}
                    </span>
                {% endif %}
            </td>
        </tr>
    </table>
    <p style="text-align: center;"> All entries with * are required.</p>
    <p style="text-align: center;"><input type="submit" name="submit" value="submit"></p>
</form>
